body {
  font-family: Arial, sans-serif;
  color: black;
  -webkit-appearance: none;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  opacity: .55;
  text-decoration: none;
}

img {
  width: 272px;
  height: 92px;
  margin: auto;
  display: block;
}

form {
  margin: auto;
  display: inline-block;
}
